<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #e84128;"></span>
    <span class="sg-label">#e84128</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #13479b;"></span>
    <span class="sg-label">#13479b</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #009B53;"></span>
    <span class="sg-label">#009B53</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #2e2c26;"></span>
    <span class="sg-label">#2e2c26</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #8a8472;"></span>
    <span class="sg-label">#8a8472</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #E1D5B7;"></span>
    <span class="sg-label">#E1D5B7</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #5c584c;"></span>
    <span class="sg-label">#5c584c</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #8a8472;"></span>
    <span class="sg-label">#8a8472</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #17BED7;"></span>
    <span class="sg-label">#17BED7</span>
  </li>
</ul>